/* Ürün Görseli ve Detayları */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.product-details {
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
}

.product-price {
  color: #28a745;
}

.product-description {
  font-size: 1rem;
  color: #666;
  overflow: hidden;
}

.iconsDetails {
  display: flex;
  align-items: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Slider için stil */
.similar-products-slider {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.similar-products-slider > .d-flex {
  display: flex;
  transition: transform 0.3s ease;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 10;
  font-size: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-button-left {
  left: 10px; /* Sol ok konumunu belirler */
}

.slider-button-right {
  right: 10px; /* Sağ ok konumunu belirler */
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Benzer Ürünler Başlığı */
.similar-products-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}